<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>REDLI-HELPLINE</title>
</head>
<body><h3>REDLI HELPLINE</h3>
<p>Have you ever wondered: Where does this link go? The REDLI Tool follows the path of the URL.<br>
    It allows you to see the complete path a redirected URL goes through. It will show you the <br>
    full redirection path of URLs, shortened links, or tiny URLs.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/1kTOqkWNDKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>Coded by: JAYAKUMAR of JTECHCODE 2.O</p>
<p>Subscribe YouTube : <a href="https://www.youtube.com/channel/UC_2ln7CZ7XjSpGDMgzsBjQA">JTECHCODE 2.O </a></p>
<br>
<button><a href="/">GO TO HOME</a> </button>
</body>
</html>